* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  height: 100vh;
  overflow: hidden;
}

.star-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.star {
  position: absolute;
  background: #c9ffd5; 
  clip-path: polygon(
    50% 0%, 
    61% 35%, 
    98% 35%, 
    68% 57%, 
    79% 91%, 
    50% 70%, 
    21% 91%, 
    32% 57%, 
    2% 35%, 
    39% 35%
  );
  opacity: 0;
  animation: fadeSequence 16s linear infinite;
  box-shadow: 0 0 15px #39ff14;
}

.star.small { width: 15px; height: 15px; }
.star.medium { width: 25px; height: 25px; }
.star.large { width: 35px; height: 35px; }
.star.big { width: 50px; height: 50px; }

@keyframes fadeSequence {
  0%, 10%   { opacity: 0; }   
  20%, 50%  { opacity: 1; }   
  60%, 70%  { opacity: 0; }   
  100%      { opacity: 0; }  
}